@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #bebebe #f3f3f3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #f3f3f3;
}

*::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 20px;
    border: 3px solid #f3f3f3;
}

body {
    @apply text-gray-600;
}

button span,
a span {
    pointer-events: none;
}

a {
    @apply text-blue-800 duration-300;
}

a:hover {
    @apply text-gray-900 duration-300;
}

.my-container {
    @apply mx-auto px-2 sm:px-3 md:px-4 xl:px-5 py-2;
}

.auth-nav>a:hover {
    @apply text-gray-600;
}

.auth-nav>.router-link-active {
    @apply bg-white text-gray-600 rounded-t-sm;
}

/*
 * spinner
 */
.spinner {
    @apply w-8 h-8 border-4 rounded-full animate-spin;
}

.spinner-dark {
    @apply border-gray-600 border-l-gray-200;
}

.spinner-light {
    @apply border-l-gray-800;
}

/*
 * animações
 */
.animation-bounce {
    animation: bounce 0.5s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
}

@keyframes bounce {

    10%,
    90% {
        transform: translate3d(0, -1px, 0);
    }

    20%,
    80% {
        transform: translate3d(0, 2px, 0);
    }

    30%,
    50%,
    70% {
        transform: translate3d(0, -4px, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 4px, 0);
    }
}