@tailwind base;
@tailwind components;
@tailwind utilities;

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #bebebe #f3f3f3;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 4px;
}

*::-webkit-scrollbar-track {
    background: #f3f3f3;
}

*::-webkit-scrollbar-thumb {
    background-color: #bebebe;
    border-radius: 20px;
    border: 3px solid #f3f3f3;
}

body {
    @apply text-gray-600;
}

a {
    @apply text-blue-800 duration-300;
}

a:hover {
    @apply text-gray-900 duration-300;
}

.my-container {
    @apply mx-auto px-2 sm:px-3 md:px-4 xl:px-5 py-2;
}

.sidebar {
    @apply bg-gray-900 w-full z-40 h-screen overflow-y-auto;
}

.sidebar-mobile {
    @apply fixed z-50;
    width: 100%;
    max-width: 275px;
}

.content-mobile {
    @apply col-span-12;
}

.sidebar-desktop {
    @apply relative col-span-3 xl:col-span-2;
}

.content-desktop {
    @apply overflow-y-auto md:col-span-9 xl:col-span-10;
}

.content-desktop-wosidebar {
    @apply overflow-y-auto col-span-12;
}

/* default */

.default {
    @apply bg-gray-100 text-gray-500;
}

.default-border {
    @apply border border-gray-600;
}

.default-outline {
    @apply text-gray-500 border border-gray-500;
}

/* success */

.success {
    @apply bg-green-700 text-gray-200;
}

.success-border {
    @apply border border-green-800;
}

.success-outline {
    @apply text-green-500 border border-green-500;
}

/* danger */

.danger {
    @apply bg-red-700 text-gray-200;
}

.danger-border {
    @apply border border-red-800;
}

.danger-outline {
    @apply text-red-500 border border-red-500;
}

/* warning */

.warning {
    @apply bg-yellow-700 text-gray-200; 
}

.warning-border {
    @apply border border-yellow-800;
}

.warning-outline {
    @apply text-yellow-500 border border-yellow-500;
}

/* info */

.info {
    @apply bg-blue-700 text-gray-200; 
}

.info-border {
    @apply border border-blue-800;
}

.info-outline {
    @apply text-blue-500 border border-blue-500;
}

/* dark */

.dark {
    @apply bg-gray-700 text-gray-200; 
}

.dark-border {
    @apply border border-gray-800;
}

.dark-outline {
    @apply text-gray-500 border border-gray-500;
}